.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}

.datepicker-slide-enter-active, .datepicker-slide-leave-active {
  	opacity: 1;
	transform: translateY(0);
	transition: all 0.3s ease;
}
.datepicker-slide-enter, .datepicker-slide-leave-active {
  	opacity: 0;
	transform: translateY(-15px);
}

.slidev-enter-active, .slidev-leave-active {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	opacity: 1;
	transform: translateX(0);
	transition: all 0.3s ease;
	&.off {
		transition: all 0s;
	}
}

.slidev-leave, .direction-next.slidev-enter {
	transform: translateX(100%);
	opacity: 0;
}

.slidev-enter, .direction-prev.slidev-leave {
	transform: translateX(-100%);
	opacity: 0;
}

.slideh-enter-active, .slideh-leave-active {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	opacity: 1;
	transform: translateY(0);
	transition: all 0.3s ease;
	&.off {
		transition: all 0s;
	}
}

.slideh-leave , .direction-next.slideh-enter {
	transform: translateY(-100%);
	opacity: 0;
}

.slideh-enter, .direction-prev.slideh-leave {
	transform: translateY(100%);
	opacity: 0;
}

.fade-transition {
	opacity: 1;
	transition: all 0.3s ease;
}

.fade-enter, .fade-leave {
	opacity: 0;
}